<h1 class="center-align">Welcome!</h1>

<div class="carousel carousel-slider" data-indicators="true">
  <a class="carousel-item" href="#one!"><%= image_tag("banner_1.png", :alt => "Amiibo Banner") %></a>
  <a class="carousel-item" href="#two!"><%= image_tag("banner_2.png", :alt => "Amiibo Banner") %></a>
  <a class="carousel-item" href="#three!"><%= image_tag("banner_3.png", :alt => "Amiibo Banner") %></a>
</div>

<p class="center-align">Log in to get the these benefits:</p>

<p class="center-align">Make a product list and buy them with a great discount within 24 hours.</p>

<p class="center-align">Compare products to get the best for you and pick them up at Techpoint.</p>
