<h1 class="center-align">Welcome!</h1>

<p class="center-align">Log in to get the these benefits:</p>

<p class="center-align">Make a product list and buy them with a great discount within 24 hours.</p>

<p class="center-align">Compare products to get the best for you and pick them up at Techpoint.</p>