/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require home
 *= require alertify
 *= require default
 *= require_self
 */

 @import "materialize";
 @import "variables.scss";

h1 {
  color: #fff;
  text-transform: uppercase;
}

.navbar-color {
   background-color: $main_color;
 }

 .hero {
   img {
     width: 100%;
   }
 }

.main-background {
  background-image: image-url('main-background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  nav {
    height: 80px;

    .nav-wrapper {
      height: 80px;

      .brand-logo {
        height: 80px;
        padding: 10px 20px;
        text-align: center;
        float: none;
        
        @media (min-width: $break_med) {
          text-align: left;
        }

        img {
          height: 100%;
        }
      }

      ul {
        height: 80px;
        line-height: 80px;
      }
    }
  }
}

.main-nav {
  background-color: $main_color;
  // width: 100%;
  li {
    text-align: center;
    a {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.2em;
      transition: .25s;
      &:hover {
        color: $main_red;
      }
    }
  }
}

.tablet-up {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.pagination {
  margin: 2rem 0;
  a {
    padding: 5px; 
    color: #fff;
    transition: .25s;
    &:hover {
      color: $main_red;
    }
  }
  .current {
    padding: 5px;
    background-color: $main_red;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
}