// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";
<<<<<<< HEAD
@import "variables";

h4, p, th, td {
  color: $white-text;
}
=======
>>>>>>> f978a78534f784694df8826be6de966e58fad2fc

.title {
  font-weight: 700;
}

.mt-3{
  margin-top: 3rem;
}

.price {
  font-size: 1.64rem;
  line-height: 110%;
}

.md-font-weight {
  font-weight: 900;
}

.text-uppercase {
  text-transform: uppercase;
}

.ml-2{
  margin-top: 2rem;
}

table {
  background-color: $productlist-box;
}

.editbox a {
 color: $white-text;
}

@media(min-width: 600px) {
  .mt-2-info {
    margin-top: 2rem;
  }
}
